# Application
APP_NAME="Fuel Station OS"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080
APP_PORT=8080

# Database
DB_CONNECTION=sqlite
DB_DATABASE=./storage/database/database.sqlite

# Cache & Session
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file

# Queue
QUEUE_TABLE=jobs
QUEUE_FAILED_TABLE=failed_jobs

# Frontend
NUXT_PUBLIC_API_BASE_URL=http://localhost:8080/api

# Mail (optional)
MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"